<div class="box">
  <div class="box-header">
    <h2 class="">
      Job #<%= @job.id %>
    </h2>
  </div>
  <div class="box-body">
    <h3>Transcribed Text/ Status : </h3>
    <p><%= @job.get_file %></p>
  </div>
</div>
