<table class="table table-striped" id="jobs-table">
  <thead>
    <th>ID</th>
    <th>File</th>
    <th>Status</th>
  </thead>
  <tbody>
  <% @jobs.each do |job| %>
    <tr>
      <td>
        <a id="modal-306060" href="#modal-container-306060" data-url="<%= show_transcriber_job_path(job) %>" role="button" class="btn" data-toggle="modal"><%= job.id %></a>
      </td>
      <td><%= audio_tag(job.upload.file_name, autoplay: false, controls: true)  %></td>
      <td><%= job.status %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<script>
  $('#jobs-table').DataTable();
</script>


<div class="modal fade" id="modal-container-306060" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h4 class="modal-title" id="myModalLabel">
          My Jobs
        </h4>
      </div>
      <div class="modal-body">
        <div id="job-edit-area">

        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>

  </div>

</div>

<script>
    $(document).ready(function() {

// Support for AJAX loaded modal window.
// Focuses on first input textbox after it loads the window.
        $('[data-toggle="modal"]').click(function(e) {
            e.preventDefault();
            var url = $(this).attr("data-url");
            $.ajax({
                url: url,
                type: "get", //send it through get method
                success: function(response) {
                    var data = JSON.parse(response);
                    console.log(data);
                    $('#job-edit-area').html(response);
                },
                error: function(xhr) {
                    console.log(xhr.responseText)
                    $('#job-edit-area').html(xhr.responseText);
                },
                dataType: "script"
            });

        });

    });
</script>