@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE";
@import "skins/skin-blue-light";
@import "skins/skin-black";
@import "skins/skin-blue";
@import "fullcalendar";
@import "dataTables/jquery.dataTables";
@import "dataTables/extras/dataTables.responsive";

.chat {
  width: 25%;
  background-color: #FFFFFF !important;
  padding: 5px;
  overflow: hidden;
  visibility: visible;
  z-index: 500 !important;
  position: relative;
  display: inline;
}
.field_with_errors {
  display: inline;
  .message {
    color: #D00;
    padding-left: 5px;
    font-size: 12px;
  }
}