<table class="table table-bordered" id="job-table">
  <thead>
    <th>ID</th>
    <th>Status</th>
    <th>Text</th>
  </thead>
  <tbody>
    <% jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.status %></td>
        <td><%= job.get_file %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $('#job-table').DataTable();
</script>