<body class="fixed skin-blue">
<div class="test">
  <%= render 'shared/navbar' %>
  <div style="padding-top: 60px"></div>

  <section class="">
    <%= render 'shared/flash' %>

    <%= yield %>
  </section>
</div>
</body>