<body class="fixed skin-blue">
<div class="wrapper" style="background: wheat">
  <%= render 'shared/navbar' %>
  <div style="padding-top: 60px"></div>
  <%= render 'shared/flash' %>

  <%= yield %>
</div>
</body>