<body class="fixed skin-blue">
<div class="wrapper">
  <%= render 'shared/navbar' %>
  <div style="padding-top: 60px"></div>
  <% flash.each do |key,msg| %>
      <%= content_tag :div, msg, id: key %>
  <% end %>

  <%= yield %>
</div>
</body>